<h1>Day Phase</h1>
{{players[0].message}}<br/>
Pick a Formal<br/>
<button ng-click="nominate(0)">{{players[0].button}}</button><br/>
<button ng-click="nominate(1)">{{players[1].button}}</button><br/>
<button ng-click="nominate(2)">{{players[2].button}}</button><br/>
<button ng-click="nominate(3)">{{players[3].button}}</button><br/>
<button ng-click="nominate(4)">{{players[4].button}}</button><br/>
<button ng-click="nominate(5)">{{players[5].button}}</button><br/>
<button ng-click="nominate(6)">{{players[6].button}}</button><br/>
<button ng-click="nominate(7)">Sleep</button>